@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  * {
    @apply box-border font-inter;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-monsterrat;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl
  }

  h4 {
    @apply text-3xl
  }

  h5 {
    @apply text-2xl
  }

  h6 {
    @apply text-xl
  }

  p {
    @apply text-base;
  }
}

@layer components {
  .card {
    @apply bg-white border-r py-12 px-10 mb-8 lg:mb-0 rounded-[28px] min-h-[370px] w-full
    flex flex-col justify-between cursor-pointer 
    transition-all duration-200 
    hover:shadow-lg hover:scale-105;
  }
}

@layer utilities {
  .nav-offers:hover .nav-offer-container {
    @apply block;
  }

  .humburger--open {
    @apply visible;
  }

  .humburger--open #humburger-overlay {
    @apply opacity-100;
  }

  .humburger--open #humburger-content {
    @apply translate-x-0;
  }
}
